@import "prism";

$nav-height: 64px;
$nav-margin: 16px;
$body-padding-top: $nav-height + 2 * $nav-margin;

$nav-horizontal-padding: 50px;

body {
    padding: 0;
    margin: 0;
	font-family: sans-serif;
	text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: initial;
}

nav {
    margin: $nav-margin;
    height: $nav-height;
    border-radius: 8px;
    width: calc(100% - $nav-margin * 2);
    position: fixed;
    display: flex; 
    background-color: white;
    box-shadow: 0px 0px 10px #ddd;

    > div {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 200px;
        padding-left: $nav-horizontal-padding;
    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        flex: 1;

        > li {
            margin: auto 20px;
        }
    }

    .profile {
        padding-right: $nav-horizontal-padding;
    }
}

main {
    display: flex;
    padding-top: $body-padding-top;
    flex: 1;

    .sidebar {
        $sidebar-padding: 20px;

        width: 200px;
        padding: $sidebar-padding;
        border-radius: 4px;
        margin: 16px;
        box-shadow: 1px 0px 10px #ddd;
        overflow: auto;

        height: fit-content;

        .day {
            label {
                margin-right: 8px;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: left;

            li > a {
                display: block;
                margin: 16px auto;
                padding: 12px;
                border-radius: 8px;

                &:hover {
                    background-color: #efefef;
                }

                &.active {
                    background-color: #ddd;
                }
            }
        }
    }

    section:not(.sidebar) {
        flex: 1;
        display: flex;
        flex-direction: column;
    }


    .code-overview {
        .code-snippet {
            margin: 48px auto;
            width: 1200px;
            padding: 16px;
            border-radius: 8px;
            box-shadow: 0 0 10px #eee;
            text-align: left;
        }
    }
}
