@import "prism";

$default-margin: 16px;

$nav-height: 64px;
$nav-margin: $default-margin;
$body-padding-top: $nav-height + 2 * $nav-margin;

$nav-horizontal-padding: 50px;

body {
    padding: 0;
    margin: auto;
	font-family: sans-serif;
	text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 2000px;
    scrollbar-gutter: stable;
}

a {
    text-decoration: none;
    color: initial;
}

nav {
    margin: $nav-margin;
    height: $nav-height;
    border-radius: 8px;
    width: calc(min(100%, 2000px) - $nav-margin * 2);
    position: fixed;
    z-index: 99;
    display: flex; 
    background-color: white;
    box-shadow: 0px 0px 10px #ddd;

    > div {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 200px;
        padding-left: $nav-horizontal-padding;
    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        flex: 1;

        > li {
            margin: auto 20px;
            white-space: nowrap;

            display: flex;
            align-items: center;

            a {
                display: contents;
            }

            .icon {
                $icon-size: 24px;

                display: inline-block;
                width: $icon-size;
                height: $icon-size;
                margin-right: 8px;
            }
        }
    }

    .profile {
        padding-right: $nav-horizontal-padding;

        details {
            position: relative;

            summary {
                display: flex;
                align-items: center;
                cursor: pointer;
                font-weight: bold;
                white-space: nowrap;

                --icon-color: #bbb;

                .profile-picture {
                    $icon-size: 32px;

                    width: $icon-size;
                    height: $icon-size;
                    margin-left: 8px;
                }
            }

            aside {
                margin-top: 10px;
                position: absolute;
                right: 0;
                min-width: 100%;
                background-color: white;
                text-align: left;
                border-radius: 8px;
                box-shadow: 0px 0px 10px #ddd;

                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;

                    li {
                        display: flex;
                        align-items: center;
                        margin: 8px 16px;
                        padding: 0 8px;
                        white-space: nowrap;

                        a {
                            display: contents;
                        }

                        .icon {
                            $icon-size: 24px;

                            display: inline-block;
                            width: $icon-size;
                            height: $icon-size;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}

main {
    display: flex;
    padding-top: $body-padding-top;
    flex: 1;

    .sidebar {
        $sidebar-padding: 10px;

        width: 272px;
        overflow: auto;

        > div {
            padding: $sidebar-padding;
            border-radius: 4px;
            margin: $default-margin;
            box-shadow: 0px 0px 10px #ddd;
            height: fit-content;
        }

        .day {
            label {
                margin-right: 8px;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: left;

            li > a {
                display: block;
                margin: $default-margin auto;
                padding: 12px;
                border-radius: 8px;

                &:hover {
                    background-color: #efefef;
                }

                &.active {
                    background-color: #ddd;
                }
            }
        }
    }

    section:not(.sidebar) {
        flex: 1;
        display: flex;
        flex-direction: column;
    }


    .code-overview {
        flex: 1;
        max-width: 100%;

        ul {
            margin: 16px;
            list-style: none;
            padding: 0;


            li {
                display: flex;
                flex-direction: row;

                .code-snippet {
                    flex: 1;
                    margin: auto;
                    overflow: auto;
                    padding: 16px;
                    margin-bottom: $default-margin;
                    border-radius: 8px;
                    box-shadow: 0 0 10px #eee;
                    text-align: left;

                    :not(:first-of-type) {
                        margin-top: $default-margin;
                    }

                    details {
                        overflow: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    nav {
        .logo {
            display: none;
        }

        .nav-label {
            display: none;
        }
    }

    main {
        flex-direction: column;
    }
}
